---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import NextCard from "../layouts/NextCard.astro";
---

<Layout title="Welcome to Astro.">
    <main>
        <header class="main_header">
            <span class="glow_circle left"></span>
            <span class="glow_circle right"></span>
            <div class="container">
                <div class="content">
                    <h1 class="main_title">
                        I’m <strong>Daniel Castillo</strong>, Solution Developer
                    </h1>
                    <p class="header_subtitle">
                        Build with&nbsp;<span>❤</span>&nbsp;using&nbsp;<Image
                            src="/images/astro-logo-dark.webp"
                            alt="Un pájaro."
                            width="54"
                            height="14"
                        />&nbsp;deployed on&nbsp;<Image
                            src="/images/vercel-logo-dark.webp"
                            alt="Un pájaro."
                            width="54"
                            height="12"
                        />
                    </p>
                </div>
                <div class="large-content">
                    <div class="card_container">
                        <NextCard />
                    </div>
                </div>
            </div>
        </header>
    </main>
</Layout>

<style>
    header.main_header {
        width: 100%;
        padding-top: 150px;
        position: relative;
    }

    header.main_header span.glow_circle {
        width: 670px;
        height: 670px;
        border-radius: 50%;
        background: rgba(0, 153, 255, 0.1);
        filter: blur(50px);
        position: absolute;
    }

    header.main_header span.glow_circle.left {
        left: -250px;
        top: -250px;
    }

    header.main_header span.glow_circle.right {
        right: -250px;
        bottom: -250px;
    }

    header.main_header h1 strong {
        background: var(--horizontal-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 600;
    }

    header.main_header p.header_subtitle {
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header.main_header p.header_subtitle span {
        background: var(--vertical-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    header.main_header div.card_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
</style>
